<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Sigmar+One&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Split button -->
            <div class="btn-group" style=" margin: 8px 0 0 0;">
                <button type="button" class="btn btn-default"></button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/Home/UserProfile">Profile</a></li>
                    <li><a href="#">My Bets</a></li>
                    <li><a href="#">Admin panel</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">LogOut</a></li>
                </ul>
            </div>
            <div class="navbar-header">
                @Html.ActionLink("Totalizator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>FOOTER</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@section scripts{
    <script>

    </script>
}
