@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Services")
@Scripts.Render("~/ViewModels")
@Styles.Render("~/Content/totalizatorStyles.css")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Scripts/block-ui.js")


<h2 id="profile">Profile</h2>

<div class="main-element">
    <div class="item-element">
        <h4>Your roles:</h4>
        <ul>
            <!-- ko foreach: UserRole -->
            <li><span id="userRoles" data-bind="text: Name"></span></li>
            <!-- /ko -->
        </ul>
    </div>
    <form class="form-inline" data-bind="submit: saveNewName">
        <div class="form-group">
            <label for="newName">New Name</label>
            <input class="form-control" id="newName" type="text" placeholder="Jane" data-bind="value: NewName" required>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <form class="form-inline" data-bind="submit: saveNewEmail">
        <div class="form-group">
            <label for="newEmail">New Email</label>
            <input class="form-control" id="newEmail" type="email" placeholder="jane.doe@example.com" data-bind="value: NewEmail" required>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <form class="form-inline" data-bind="submit: saveNewPassword">
        <div class="form-group">
            <label for="newPassword">New Pass</label>
            <input class="form-control" id="newPassword" type="password" placeholder="$2AT!G4#;!Bc" data-bind="value: NewPassword" required>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <button data-bind="click: deleteAccount">Delete Account</button>
</div>

<h2 id="bets">My Bets</h2>

<div class="main-element" data-bind="foreach: betList">
    <div class="event-element">
        <div class="event-element-item" data-bind="text: EventName"></div>
        <div class="event-element-item" data-bind="text: SelectedTeam"></div>
        <div class="event-element-item amount" data-bind="text: Amount"></div>
        <strong>$</strong>
        <div class="event-element-info" data-bind="text: EventDate"></div>
    </div>
</div>
<div class="pagination-container" data-bind="foreach: paginationButtons">
    <button class="pagination-item" data-bind="text: $data, click: $parent.load.bind($data)"></button>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.js"></script>
    <script>
        var profileService = new ProfileService();
        var userProfileViewModel = new UserProfileViewModel(profileService);
        userProfileViewModel.init();
        userProfileViewModel.load();
        ko.applyBindings(userProfileViewModel);
    </script>
}
